*{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body{
	padding: 15px;
}

h1{
	padding: 25px;
	font-size: 16px;
	font-size: 175%;
}
	
h2{
	font-size: 16px;
	font-size: 125%;
	margin: 0;
	padding: 0;
}

.container-main{
	border: 1.5px solid black;
	border-radius: 2px;
	background-color: #d9d9d9;
	margin-bottom: 30px;
}

.container-category{
	border: 1.5px solid black;
	border-radius: 2px;
	margin: -1.5px;
	padding: 3px 20px 3px 20px;
}

.container-context{
	clear: both;
	padding: 15px;
}

